

@model List<QuanLyNhanVien.Models.PhongBan>


<select class="form-control filter-phong-ban dropdown">
    <option type="button" value="0" onclick="Department(0)">Tất cả </option>
    @foreach (var item in Model)
    {
        <option type="button" onclick="Department(@item.Id)">@item.Ten_phong_ban</option>
    }
</select>